<ion-header>
  <ion-toolbar>
    <h1>discover</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <header class="main">
    <div class="hello">
      <h1>
        <span class="id1"> Shopie!</span>
        <span class="id2">Feel free to book any hotel</span>
      </h1>
    </div>
  </header> -->
  <div class="main">
    <div class="main1">
      <h1 class="main-text">
        <span class="id1">Shoppie!</span>
        <!-- <img src="../../assets//Asset 2.png" alt="" class="image" /> -->

        <span class="id2">Feel free to book any hotel</span>
      </h1>
      <div class="btn-div">
        <ion-button class="btn">Book a Hotel</ion-button>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="free">
      <ion-grid>
        <ion-row style="padding: 10px;">
          <ion-col size="12" class="ion-text-center hello">
            <h1>Main header</h1>
          </ion-col>
          <ion-row style="padding-top: 20px;">
            <ion-col
              size-md="6"
              size-xs="12"
              class="ion-text-center ion-padding-top"
            >
              <ion-row>
                <ion-col size="12" ion-padding-top>
                  <h3>Sub-header</h3>
                </ion-col>
                <ion-col size="12" class="ion-text-start">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et
                    veniam dolore nihil consequuntur similique earum velit quas
                    aperiam ipsum
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
              <div class="images">
                <img
                  src="../../../assets//fenix-island-3840x2160-china-tourism-travel-5005.jpg"
                  alt=""
                />
                <img
                  src="../../../assets//bahamas-2560x1440-island-resort-hotel-sea-ocean-travel-booking-pool-669.jpg"
                  alt=""
                />
                <img
                  src="../../../assets//burj-al-arab-hotel-3840x2160-dubai-uae-travel-booking-pool-378.jpg"
                  alt=""
                />
              </div>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="map"></div>
</ion-content>

<style>
  img {
    height: 50%;
    width: auto;
  }
  .free {
    padding: 10vh 0;
  }
  .about {
    width: 80vw;
    margin: 0 auto;
    height: calc(40vh - 20px);
    background-color: white;
    margin-top: calc(-10vh - 6px);
  }
  .hello {
    background: linear-gradient(to right, rgb(164, 95, 95), rgb(115, 168, 194));
    -webkit-background-clip: text;
    color: transparent;
  }
</style>
