<ion-header>
  <ion-toolbar>
    <ion-back-button slot="secondary">
    </ion-back-button>
    <ion-title>
      Hello
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="check-bg">
    <h1 class="check-bg__list">Hello1</h1>
    <h1 class="check-bg__list">Hello2</h1>
  </div>
  <div>
    <img src="../../assets//card.svg" alt="">
    <img src="../../assets//phonesvg.svg" alt="">
  </div>
  <div class="main-container1">
    <div class="main-container2">
      <h1 class="Primary-text">Shoppie!</h1>
    
  
    </div>
  </div>
  <span class="wave wave1"></span>
  <span class="wave wave2"></span>
  <span class="wave wave3"></span>
  <span class="wave wave4"></span>
  <ion-grid>
    <ion-row>
      <ion-col offset="3">
        <section class="section-tour">
          <div class="card">
            <div class="card_side card_side-front">
              text front
            </div>
            <div class="card_side card_side-back">
              text back
            </div>
          </div>
          
        </section>
        <div class="card">
          <div class="card_side card_side-front">
              <mat-card>
                <mat-card-header>
                    <mat-card-title>Title</mat-card-title>
                    <mat-card-subtitle>Subtitle</mat-card-subtitle>
                </mat-card-header>
               
                <mat-card-content>
                    Text content
                </mat-card-content>
                <mat-card-actions align="start">
                    <button mat-raised-button >Action1</button>
                    
                </mat-card-actions>
                <mat-card-footer>
                    Footer
                </mat-card-footer>
            </mat-card>
          </div>
          <div class="card_side card_side-back">
            <mat-card>
              <mat-card-header>
                  <mat-card-title>Title2</mat-card-title>
                  <mat-card-subtitle>Subtitle</mat-card-subtitle>
              </mat-card-header>
             
              <mat-card-content>
                  Text content
              </mat-card-content>
              <mat-card-actions align="start">
                  <button mat-raised-button >Action1</button>
                  
              </mat-card-actions>
              <mat-card-footer>
                  Footer
              </mat-card-footer>
          </mat-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="card">
    <div class="card_side card_side-front">
        <mat-card>
          <mat-card-header>
              <mat-card-title>Title</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
         
          <mat-card-content>
              Text content
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-raised-button >Action1</button>
              
          </mat-card-actions>
          <mat-card-footer>
              Footer
          </mat-card-footer>
      </mat-card>
    </div>
    <div class="card_side card_side-back">
      <mat-card>
        <mat-card-header>
            <mat-card-title>Title2</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
            Text content
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-raised-button >Action1</button>
            
        </mat-card-actions>
        <mat-card-footer>
            Footer
        </mat-card-footer>
    </mat-card>
    </div>
  </div>
  
  <ul class="list">
    <li class="list1">hello</li>
    <li class="list2">hello</li>
    <li class="list3">hello</li>
    <li class="list4">hello</li>
    <li class="list5">hello</li>
  
  </ul>
  <div>
    <img src="../../assets//Asset 2.png" alt="">
    <figure class="fig">
  
    </figure>
    <div>
      <h1>shcjkshdhcd</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni distinctio ipsa, commodi vit</p>
    </div>
  </div>
  
<!-- <div class="main"> 
  <div (click)="click()" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            Text content
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button >Action1</button>
            
        </mat-card-actions>
        <mat-card-footer>
            Footer
        </mat-card-footer>
    </mat-card>
  </div>
</div> -->


  
</ion-content>
<style>
  

  


  
  .fig{
    width: 100px;
    height: 100px;
    background-color: brown;
    shape-outside: circle(10% at 50% 50%);
    overflow: hidden;
  }
</style>
<!-- <img class="wave" src="../../assets//wave.svg" alt=""> -->

